<section class="z-[1] text-green-500 bg-yellow-600 fixed top-0 h-[9vh] w-full grid grid-cols-[20%,60%,10%] items-center gap-5 px-2 py-1">
    <div class="notesTitle"><h1 class="textShadow text-[1.9rem] text-violet-950 font-[700] tracking-wide relative top-[-0.1rem]">Notes</h1></div>
    <form action="/dashboard" method="get" class="">
        <div class="seacrh flex">
            <label class="text-violet-950 font-[500] text-[1rem] tracking-tight">Search : </label>
            <input type="text" class="w-[90%] h-full px-2 py-1 shadow-xl rounded-md ml-[1.2rem]" name="searchTerm" id="searchTermId" placeholder="Search...">
        </div>
    </form>
    <div class="logout">
        <a href="/logout" class="border-none shadow-lg px-2 rounded-md py-1 bg-[#0b5ed7] text-[#fff] ml-[70%]">logout</a>
    </div>
</section>