<div class="z-10 fixed top-0 h-[9vh] w-full bg-yellow-400 px-3 py-1">
    <nav class="flex items-center justify-between gap-2">
      <a href="/" class="relative top-[0.4rem] textShadow text-[1.9rem] text-violet-950 font-[700] tracking-wide" id="NotesLogo">Notes</a>
      <ul class="grid grid-cols-4 gap-3 relative top-[0.4rem]" id="navLinks">
        <li><a href="/" class="text-center text-[1rem] text-[#202124] tracking-tight font-[500]">Home</a></li>
        <li><a href="/features" class="text-center text-[1rem] text-[#202124] tracking-tight font-[500]">Features</a></li>
        <li><a href="/faqs" class="text-center text-[1rem] text-[#202124] tracking-tight font-[500]">FAQs</a></li>
        <li><a href="/about" class="text-center text-[1rem] text-[#202124] font-[500] tracking-tight">About</a></li>
      </ul> 
      <div class="google flex items-center justify-center gap-3 font-[500] relative top-[0.4rem]">
        <a href="/auth/google" class="border-blue-950 shadow-md px-2 rounded-md py-1" id="btn-1">Sign Up</a>
        <a href="/auth/google" class="border-none shadow-lg px-2 rounded-md py-1 bg-[#0b5ed7] text-[#fff]" id="btn-1">Sign In</a>
      </div>
    </nav>
</div>