<section class="grid grid-cols-3 px-0 py-1">
    <div class="left">
        <img src="/assets/human-1.svg" alt="" class="relative right-[5rem]">
    </div>
    <div class="middle flex items-center justify-center flex-col leading-loose" id="middleText">
        <div class="first text-white text-[3rem] leading-tight font-[600]">
            <h1 class="text-center tracking-tight" id="first">Write your own thoughts down as they come to you.</h1>
        </div>
        <div class="second text-white text-center mt-5 px-1">
            <h1 id="second">Notes is a simple to use free note taking app made with <br> <span class="text-[#026E00] font-[800] text-[1.1rem]"> NodeJS,<span class="text-[#90A93A] font-[800] text-[1.1rem]">EJS</span> </span> & <span class="text-[#55AD47] font-[800] text-[1.1rem]">MongoDB</span></h1>
        </div>
        <div class="third mt-[2.2rem]">
            <a href="/auth/google" id="third" class="rounded-md tracking-tight font-[500] px-2 py-1 bg-yellow-300 text-blue-900">Try Notes,it's FREE!</a>
        </div>
    </div>
    <div class="right">
        <img src="/assets/human-2.svg" class="relative left-[8rem]" alt="">
    </div>
</section>